@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.PublishedContent
@using System.Text
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    var splitMediaDescription = Model.Content.Value<string>("splitMediaDescription");
    var mediaPosition = Model.Content.Value<string>("mediaPosition");  
    var image = Model.Content.Value<Umbraco.Cms.Core.Models.MediaWithCrops>("image"); 
    
        // Default orders
    var imageOrderClass = "order-lg-1";
    var contentOrderClass = "order-lg-2";

    // If image is on Right
    if (mediaPosition == "Right")
    {
        imageOrderClass = "order-lg-2";
        contentOrderClass = "order-lg-1";
    }

}

    <!-- Application Modernization -->
    <section id="app-modernization" class="feature" data-aos="fade-up">
      <div class="container">
      <div class="row g-5 align-items-center">
        <div class="col-lg-6 @contentOrderClass">
            @Html.Raw(splitMediaDescription.ToString().Replace("<p>", "").Replace("</p>", "")) 
        </div>
        <div class="col-lg-6 @imageOrderClass">
          <div class="feature-illustration" data-aos="zoom-in">
              @if(image != null){
            <img
              src="@image.Url()"
              alt="app modernization" style="width:100%;height:220px;object-fit:cover;border-radius:8px">}
          </div>
        </div>
      </div>
      </div>
    </section>
